/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

/* Add your custom styles in this file... */

@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {

}

h1, h2 {
	font-family: 'Cursive', sans-serif;
}

.intro {
	text-align: center;
    justify-content: center;
    background: url('../design-system/images/intro/cover.png') center 75vh no-repeat;
    background-size: 65%;
    height: 100vh;
}

.intro .wrapper {
	align-items: center;
}

.intro .code {
	margin: 1rem 0;
	font-size: .925rem;
}

.intro .code + p {
	margin-bottom: 10vh;
	font-size: .75rem;
	opacity: .8;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {
	.intro {
	    background-size: 75%;

	}
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {
	.intro {
	    background-size: 85%;

	}

	.intro {
	    background-size: 85%;
	    background-position-y: 75vh;
	}

	.intro h1 + p {
		font-size: 1rem;
	}

	.intro .btnGrp + p {
		margin-bottom: 18vh;
		font-size: .75rem;
		opacity: .8;
	}

	.intro .code {
		font-size: .825rem;
	}
}

@media only screen and (max-width: 480px) {
	.intro {
	    background-size: 95%;
	    background-position-y: 80vh;
	}

	.intro .code + p {
		margin-bottom: 10vh;
	}

}
