/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

/* Add your custom styles in this file... */

@media (prefers-color-scheme: light) {

  .icon.smart {
    background-image: url("../design-system/images/icons/lm-smart.png") !important;
  }
  .icon.update {
    background-image: url("../design-system/images/icons/lm-updates.png") !important;
  }
  .icon.setup {
    background-image: url("../design-system/images/icons/lm-settings.png") !important;
  }
  .icon.smart {
    background-image: url("../design-system/images/icons/lm-smart.png") !important;
  }
  .icon.home {
    background-image: url("../design-system/images/icons/lm-home.png") !important;
  }
  .icon.paper {
    background-image: url("../design-system/images/icons/lm-paper.png") !important;
  }
  .icon.config {
    background-image: url("../design-system/images/icons/lm-config.png") !important;
  }
  .icon.tor {
    background-image: url("../design-system/images/icons/lm-tor.png") !important;
  }

}

@media (prefers-color-scheme: dark) {

  .icon.smart {
    background-image: url("../design-system/images/icons/dm-smart.png") !important;
  }
  .icon.update {
    background-image: url("../design-system/images/icons/dm-updates.png") !important;
  }
  .icon.setup {
    background-image: url("../design-system/images/icons/dm-settings.png") !important;
  }
  .icon.smart {
    background-image: url("../design-system/images/icons/dm-smart.png") !important;
  }
  .icon.home {
    background-image: url("../design-system/images/icons/dm-home.png") !important;
  }
  .icon.paper {
    background-image: url("../design-system/images/icons/dm-paper.png") !important;
  }
  .icon.config {
    background-image: url("../design-system/images/icons/dm-config.png") !important;
  }
  .icon.tor {
    background-image: url("../design-system/images/icons/dm-tor.png") !important;
  }

}

.btn {
	border-radius: var(--radius-round);
}

h1, h2 {
	font-family: 'Cursive', sans-serif;
}

header nav .btn {
	margin: inherit;
}

header .logo {
	margin-right: 1.5rem;
}

.intro {
	text-align: center;
    justify-content: center;
}

.intro img {
	width: 65%;
	margin-top: 5rem;
}

.intro .wrapper {
	align-items: center;
}

.intro .code {
	margin: .625rem 0 1rem 0;
	font-size: .925rem;
}

.intro .code + p {
	margin-bottom: 5vh;
	font-size: .75rem;
	opacity: .8;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {
	.intro img {
	    width: 75%;

	}
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {
	.intro img {
	    width: 85%;

	} 

	.intro h1 + p {
		font-size: 1rem;
	}

	.intro .btnGrp + p {
		margin-bottom: 18vh;
		font-size: .75rem;
		opacity: .8;
	}

	.intro .code {
		font-size: .825rem;
	}
}

@media only screen and (max-width: 480px) {
	.intro img {
	    width: 95%;
	}

	.intro .code + p {
		margin-bottom: 10vh;
	}

	header .logo img {
		height: 36px;
	}

}
